<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}La Décoration de JM{% endblock %}</title>
    <script src="https://kit.fontawesome.com/2fa5621aef.js" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/La_Décoration_de_JM.css')}}" rel="stylesheet">
    {% block javascript %}{% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-ligth bg-light">
    <img src="{{ asset('assets/img/logo.png') }}" width="60px">
        <a class="navbar-brand text-dark ml-2" href="{{path('app_home')}}">La Décoration de JM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-auto" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{{path('app_product')}}">Nos Produit</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link text-dark" href="{{path('app_panier')}}">Panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{{path('admin')}}">Admin</a>
                </li> 
                {% endif %}
                <li class="nav-item text-dark active">
                    <a class="nav-link text-dark" href="{{path('app_contact')}}">Contact</a>
                </li>
                
            </ul>
        
             {% if app.user %} 
            <div class="text-light d-flex flex-row">
             <a href="{{path('app_account')}}" class="nav-link text-dark">Mon compte <small>({{app.user.firstname}})</small> </a>  <a href="{{path('app_logout')}}" class="nav-link text-dark">Déconnexion</a>  
             </div>
             {% else %} 
             <div class="text-light d-flex flex-row">
            <a href="{{path('app_login')}}" class="nav-link text-dark">Connexion </a>  <a href="{{path('app_register')}}" class="nav-link text-dark ">Inscription</a>  
           </div>
            {% endif %} 
           <div class="text-light d-flex flex-row">
            {# <a href="{{path('app_panier')}}" class="nav-link text-light"><i class="fa-solid fa-cart-shopping text-light"></i></a>   #}
           </div>
        </div>
    </nav>
</header>

<main role="main">


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing mt-5">
    {% block content %} 
    {% endblock %}

      

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom">
        <p>&copy; 2022 La Décoration de JM<br/>
         &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
         </small></p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>